
// Fonts
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "typeahead";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  font-size: 16px;
}
.navbar-brand {
	font-family: 'Dancing Script', cursive;
	color: #4A4C57;
	font-size: 25px;
}

.container {
	font-size: 14px;
}

.user-logo {
	margin-left: 200px;
}

.dropdown-menu-right {
	font-size: 16px;
}
.card-header {
	text-align: center;
	color:#2A30C9;
	font-size: 32px;
}
.section-title {
	color: #4A4C57;
	font-size: 60px;
	margin-bottom: 30px;
}
.section-subtitle {
	color: #2A30C9;
	font-size: 40px;
	margin-bottom: 30px;
}
.create-button {
	font-size: 14px;
	text-align: center;
}
.return-button {
	font-size: 14px;
	margin-left: 10px;
}
.delete-button {
	font-size: 14px;
	margin-left: 10px;
}
.tableau-client {
	font-size: 12px;
}
.content-form {
	font-size: 14px;
}
.form-button-group {
	margin-top: 40px;
}
.btn-group {
	background-color: white;
}
// Modal delete confirm
.modal-content {
	color:black;
}

// Create facture libre
.client-select {
	float: left;
	width: 80%;
}
.btn-add-client {
	display: inline-block;
	float:right;
}

#check_taux_remise {
	margin-top: 18px;
	width: 15px;
	height: 15px;
}

#label_taux_remise {
	margin-left: 20px;
	font-size: 10px;
	margin-top: 16px;
	font-style: italic;
}

// Create facture devis
.devis-select {
	float: left;
	width: 80%;
}
#select-devis-facture {
	height: 100px;
	font-size: 0.8em;
}
.client-select {
	float: left;
	width: 80%;
}
//devis bosse
.voiture-select {
	float: left;
	width: 80%;
}

//devis horaire
#check_dap {
	display: inline;
}

#check_reserves {
	display: inline;
}
#check_alu {
	display: inline;
}

#label_dap {
	font-size: 10px;
}

#label_tradi {
	font-size: 10px;
	margin-left: 30px;
}

#label_reserves {
	font-size: 10px;
	margin-left: 30px;
}

#label_alu {
	font-size: 10px;
	margin-left: 30px;
}

#voiture-part label {
	float: right;
}

.input-partie-voiture {
	float: left;
	width: 30%;
	margin-right: 20px;
}

.form-check-inline {
	border-bottom: 1px;
}
.form-check-input{
	cursor: pointer;
}

//Helper for file
.file-helper {
	font-size: 12px;
	color: #2A30C9;
	margin-bottom: 50px;
}

.choix-bosse-title {
	margin-bottom: 50px;
	margin-left: 100px;
}

.choix-bosses-check {
	margin-bottom: 5px;
}
.radio-choix-bosses {
	margin-left: 8px;
}

.table-choix-bosses tr,
.table-choix-bosses td {
  padding: 8px;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
}

.tab-container-choix-bosse {
	float:right;
	display: inline-block;
	width: 50%;
}

.select-car-part {
	float:left;
	display: inline-block;
	width: 50%;
}

@media all AND (max-width : 540px) {
	.tab-container-choix-bosse {
		float:left;
		width: 100%;
	}

	.select-car-part {
		float:left;
		width: 100%;
	}
}

.form-choix-bosses {
	overflow: auto;
}

.nav-voiture-client {
	width: 300px;
	font-size: 1.2em;

}

.nav-voiture-client:active {
	background-color: #adccff;
}

.tableVoiture td{
    vertical-align: middle;
}

.tt-menu{
    background-color:white!important;
    width: 100%;

}

@media all AND (min-width:1000px  ){
    input#searchIt  {
        width: 35em
    }
}
@media all AND (max-width:450px  ){
    input#searchIt {
        width:  10em;
        margin-right:0;
    }
}

@media all AND (max-width:770px  ){
    #NavBarbtn{
        display: none;
    }
    #NavBarbtn2::after{
        display: none;
    }
    .iconVoiture{
        display: none;
    }



}

@media all AND (min-width:770px  ){
    #NavBarbtn2{
        display: none;
    }
    .menuTelephone{
        display: none;
    }

}
