@font-face {
  font-family: SourceSansPro;
  src: url('/public/fonts/SourceSansPro-Regular.ttf');
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #555555;
  background: #FFFFFF; 
  font-size: 14px; 
  font-family: SourceSansPro;
}

header {
  padding: 10px 0;
  width: 90%;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 70px;
}

#company-facture {
  float: left;
  text-align: left;
  margin-left: 100px;
}




#details {
  margin-bottom: 20px;

}

#client {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 160px;
  padding-bottom: 60px;
  float: left;
  margin-left: 400px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #0087C3;
}

#client-devis {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom: 60px;
  float: left;
  margin-left: 300px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #0087C3;
}

#client-horaire {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 160px;
  padding-bottom: 60px;
  float: left;
  margin-left: 430px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #0087C3;
}

#devis-informations {
  float : left;
  padding-top: 10px;
}

.to {
  margin-top: 20px;
  margin-left: 218px;
  font-size: 1.6em;
  font-weight: normal;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #0087C3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

.date-facture {
  margin-left: 410px;
  font-size: 1em;
  font-weight: normal;
  position :relative;
}

.date-devis {
  margin-left: 480px;
  font-size: 1em;
  font-weight: normal;
  position :relative;
}

#descriptions{
  padding-left: 6px;
  margin-top: 50px;  
  margin-bottom: 50px;  
}

#descriptions .description {
  font-size: 1.2em;
}

.table-info {
  font-size: 0.8em;
}

.table-info th,
.table-info tr,
.table-info td {
  padding: 8px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
}

.table-info th {
  white-space: nowrap;        
  font-weight: normal;
}

.table-info td {
  text-align: right;
}

h3{
  color: #0087C3;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

.table-info .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
}

.table-info .desc {
  text-align: left;
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
  border-bottom: 1px solid #AAAAAA; 
}

.table-info .unit {
  background: #DDDDDD;
  text-align: center;
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
  border-bottom: 1px solid #AAAAAA; 
}

.table-info .qty {
  text-align: center;
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
  border-bottom: 1px solid #AAAAAA; 
}

.table-info .total {
  background: #57B223;
  color: #FFFFFF;
}

.div-table-bosse {
  margin-top: 20px;
}
.table-bosse {
  float:left;
}

.table-info td.unit,
.table-info td.qty,
.table-info td.total {
  font-size: 1.2em;
}

.table-bosse th,
.table-bosse tr,
.table-bosse td {
  padding: 4px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
}

.table-bosse th {
  white-space: nowrap;        
  font-weight: normal;
  font-size: 1em;
}

.table-bosse td {
  text-align: right;
}

h3{
  color: #0087C3;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

.table-bosse .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
}

.table-bosse .desc {
  text-align: left;
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
  border-bottom: 1px solid #AAAAAA; 
}

.table-bosse .unit {
  background: #DDDDDD;
  text-align: center;
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
  border-bottom: 1px solid #AAAAAA; 
}

.table-bosse .qty {
  text-align: center;
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
  border-bottom: 1px solid #AAAAAA; 
}

.table-bosse .total {
  background: #57B223;
  color: #FFFFFF;
}

.table-bosse td.unit,
.table-bosse td.total {
  font-size: 0.8em;
}

.table-bosse td.qty {
  font-size: 0.8em;
}

.table-voiture td {
  width: 100px;
}

.table-prix td {
  padding: 10px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
}

.table-prix tr:first-child td {
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
}

.table-prix {
  font-size: 0.8em;
  position: relative;
  float:right;
  margin-right: 50px;
}

.table-prix .unit {
  text-align: right;
}

.table-prix .qty {
  text-align: left;
}

.table-prix tr {
  margin-right: 20px;
  border-top: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
}

.table-prix tr:last-child td {
  color: #0087C3;
  font-size: 1.4em;
  border-top: 1px solid #AAAAAA; 
  border-bottom: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
}

.table-prix tr td:first-child {
  border-top: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
}

.table-prix-devis td {
  padding: 10px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1em;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
}

.table-prix-devis tr:first-child td {
  border-top: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
}

.div-table-prix-devis {  
  margin-left: 400px;
}

.table-prix-devis {  
  margin-top: 100px;
}


.table-prix-devis .unit {
  text-align: right;
}

.table-prix-devis .qty {
  text-align: left;
}

.table-prix-devis tr {
  margin-right: 20px;
  border-top: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
}

.table-prix-devis tr:last-child td {
  color: #0087C3;
  font-size: 1em;
  border-top: 1px solid #AAAAAA; 
  border-bottom: 1px solid #AAAAAA; 
  border-left: 1px solid #AAAAAA; 
  border-right: 1px solid #AAAAAA; 
}

.table-prix-devis tr td:first-child {
  border-top: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
}

#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}

#notices{
  padding-left: 6px;
  border-left: 6px solid #0087C3;
  margin-top: 250px;  
}

#notices .notice {
  font-size: 1em;
}


footer {
  color: #777777;
  width: 90%;
  height: 40px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}

#footerfact {
  color: #777777;
  width: 90%;
  height: 90px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}

#loi { 
  font-size: 11px;
  border-bottom: 1px solid #AAAAAA;
  padding-bottom: 2px;
}


.image-voiture {
  float: left;
}

.societe-header {
  margin-left: 150px;
}